<p>{{tabs}}</p>
<p>{{schedule}}</p>
<form>
    <div class="form-group">
        <label>Schedule Name</label>
        <input type="text" class="form-control" ng-model="schedule.name"/>
    </div>
    <div>
        <div class="form-group">
            <label>Shifts</label>

            <div ng-repeat="shift in schedule.formShifts" class="form-inline">
                <div class="form-group">
                    <label>Start Time: </label>
                    <!--SWITCH TO TIME-->
                    <input type="datetime" class="form-control" ng-model="shift.start"/>
                </div>
                <div class="form-group">
                    <label>End Time: </label>
                    <!--SWITCH TO TIME-->
                    <input type="datetime" class="form-control" ng-model="shift.end"/>
                </div>
                <div class="form-group">
                    <label>Number of Employees: </label>
                    <input type="number" class="form-control" ng-model="shift.targetEmployees"/>
                </div>
                <div class="form-group">
                    <label class="checkbox-inline" ng-repeat="day in schedule.days">
                        <input type="checkbox" value="blah" ng-model="shift.days[day]">{{day}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-default" ng-click="schedule.addShift()">Add Shift</button>
    <button class="btn btn-default" ng-click="tabs.clickTab(tabs.tabs[1]); schedule.submitShiftPreferences()">Next</button>
</form>